/*color palette*/

:root {
    --bg-color-name-1: #88628f;
    --bg-color-name-2: #402a44;
    --bg-color-body: rgb(227, 185, 231);
    --font: 'Times New Roman', Times, serif;
    --font-color: rgb(50, 6, 54);
    --font-color-accent: rgb(169, 34, 186);
    --accent-1: #d063da;
    --photo-background-color: #16021f;
}


/*CSS resets */
* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}

/* make images responsive */
img {
    display: block;
    max-width: 100%;
}

.portfolio-item img {
    width: 100%;
    max-width: 24rem;
    height: auto;
    margin: 0 auto;
}

/* general css */

body {
    background-color: var(--bg-color-body);
    color: var(--font-color);
    font-size: 1.5rem;
    font-family: var(--font);
    line-height: 1.5;
}

header {
    padding: 5rem 2rem;
}

header h1 {
    text-shadow: #88628f 0px 0px 5px, #88628f 0px 0px 10px, #88628f 0px 0px 15px,
     #402a44 0px 0px 20px, #402a44 0px 0px 30px, #402a44 0px 0px 40px, #402a44 0px 0px 50px, #402a44 0px 0px 75px;
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    margin: 0 .5rem;
    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--font-color-accent);
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 70rem;
    margin: 5rem auto;
}

.portfolio-item {
    max-width: 70rem;
    margin: 5rem auto;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    margin: 2rem 0;
}


footer {
    padding: 1rem 2rem;
}

footer img {
    display: inline;
    max-width: 3rem;
    margin: 0 .5rem;
}

/* flex styling */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}